
/*********************************************** 
**********************INDEX********************* 

    1. Font link
    2. Common css
         (button, margin, paddingh)
    3. Categories item of left side
    4. product item
    5.
    6.
    7.
**********************************************
********************************************/
/*font*/
h1, h2, h3, p, a{
  font-family: 'Hind Siliguri', sans-serif;
}

/********common css*********/
*{
  margin: 0 auto;
  padding: 0px;
}
button.btn {
    background: #2ecc71;
  }
@media screen and (max-width: 767px){
     h1, h2, h3{
      font-size: 30px;
     }   
     button{
      font-size: 15px;
     }  
}

 /*******Categories item of left side********/
 .list-group-item{
   display: list-item;
 }
 .list-group li{
    margin: 0;
    background-color: #F8F9FA;
    margin-left: 5px;
 }

.grid_sort .icon .active{
     color: #2ecc71;
     margin-bottom: 30px;
}
 
.underlinee{
     border-bottom: 2px solid #2ecc71;
     display: inline-block;
     width: 200px; 
     height: 5px
}
@media screen and (min-width: 768px) and (max-width: 991px){
     .underlinee{
     width: 150px; 
      }  
}

.Clear_all{
     background-color: #ddd !important;
}

/***************** product area******************** */
 

.main_title h2 {
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 50px;
    text-transform: uppercase;
}      

.feature_item {
  padding: 15px 10px;
  text-align: center;
  /*background: #f9f9fd;*/
  border: 1px solid #ddd;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .feature_item img {
    margin-bottom: 35px; }
  .feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .feature_item p {
    margin-bottom: 0px; 
  }

/*******product item hover************/
  .feature_item:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    /*background: #FDD700; */
  }










